*{
    margin: 0;
    padding: 0;
}
.carousel ul li img{
    width: 229px !important;
    height: 406px !important;
}
.carousel{
    width: 229px;
    height: 406px;
    margin: 0 auto;
    border: 1px solid #333;
    position: relative;
    margin-top: -483px;
}
.carousel ul{
    list-style: none;
}
.carousel ul li{
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    filter:alpha(opacity = 0);
}
.carousel ul li.first{
    opacity: 1;
    filter:alpha(opacity = 0);
}