*{
	padding: 0;
	margin: 0;
}
.sc{
	margin-left: 566px;
	margin-top: 100px;
}
#xian1{
	width: 258px;
    border: 1px solid gainsboro;
    margin-top: 22px;
    margin-left: 524px;
}
.cart{
	width: 1200px;
	height: 226px;
	margin: 21px 72px;
}
#word{
	width: 300px;
	margin-left: 472px;
}

